<div class="main-page">
  <sky></sky>
  <div class="datalaboartory-sign garamond-italic">Визуализация&nbsp;<a href="http://www.datalaboratory.ru/" target="_blank">Лаборатории&nbsp;данных</a></div>
  <div class="velocity-selector-container">
    <velocity-selector></velocity-selector>
  </div>
  <div class="likely likely-light">
    <div class="twitter" data-via="datalaboratory" data-title=""></div>
    <div class="facebook"></div>
    <div class="vkontakte" data-title=""></div>
    <div class="pinterest" data-media="" data-title=""></div>
  </div>
  <div class="sliders-container">
    <sliders></sliders>
  </div>
</div>
