<div class="main-page">
  <sky></sky>
  <div
    class="globe-container"
    data-ng-if="state.globe">
    <globe></globe>
  </div>
  <div
    class="checkboxes-container"
    data-ng-if="state.checkboxes">
    <checkboxes></checkboxes>
  </div>
  <div class="header-container">
    <header></header>
  </div>
  <div class="compass-container">
    <compass></compass>
  </div>
  <div
    class="text-blocks-container"
    data-ng-if="scenario.currentPage < scenario.nOfPages">
    <text-blocks></text-blocks>
  </div>
  <div
    class="page-indicator-container"
    data-ng-if="scenario.currentPage < scenario.nOfPages">
    <page-indicator></page-indicator>
  </div>
  <div
    class="earth-orbit-container"
    data-ng-if="state.earthOrbit">
    <earth-orbit data-ng-if="state.earthOrbit"></earth-orbit>
  </div>
  <div
    class="velocity-selector-container"
    data-ng-if="state.velocitySelector">
    <velocity-selector></velocity-selector>
  </div>
  <div
    class="sliders-container"
    data-ng-if="state.sliders">
    <sliders></sliders>
  </div>
</div>
