<div class="main-page">
  <div class="red"></div>
  <div class="globe-container">
    <globe-with-cities></globe-with-cities>
  </div>
  <div class="header-container">
    <header></header>
  </div>
  <div class="datalaboartory-sign garamond-italic">Визуализация&nbsp;<a href="http://www.datalaboratory.ru/" target="_blank">Лаборатории&nbsp;данных</a></div>
  <div class="velocity-selector-container">
    <velocity-selector></velocity-selector>
  </div>
  <div class="sliders-container">
    <sliders></sliders>
  </div>
</div>
