<div class="earth-orbit__container">
    <svg>
        <g class="earth-orbit__orbit-g">
            <ellipse
                class="earth-orbit__orbit"
                rx="170" ry="50">
            </ellipse>
            <image
                xlink:href="img/accessories/sun-3d.png"
                width="150px"
                height="150px"
                x="80"
                class="earth-orbit__back-sun"></image>

            <g class="earth-orbit__earth-group">
                <line class="earth-orbit__axis"></line>
                <image class="earth-orbit__earth"></image>
                <path class="earth-orbit__shadow"></path>
                <path class="earth-orbit__graticule"></path>
                <circle r="3" class="earth-orbit__city"></circle>
            </g>

            <image
                xlink:href="img/accessories/sun-3d.png"
                width="150px"
                height="150px"
                x="80"
                class="earth-orbit__forward-sun"></image>
        </g>
    </svg>
</div>
