<div class="header">
  <div class="header__caption garamond-italic">Невидимый небосвод</div>
  <br class="clear-both" />
  <div class="header__date-time-wrapper">
    <div class="garamond-italic inline">{{getFormattedDate()}}</div>
    <div class="garamond-italic inline">&nbsp;в&nbsp;</div>
    <div class="garamond-italic inline">{{getHour()}}</div>
    <div class="colon garamond-italic inline">&#58;</div>
    <div class="garamond-italic inline">{{getMinute()}}</div>
    <br class="clear-both" />
  </div>
</div>
