<div class="player__container">
    <input type="checkbox" data-ng-model="state.atmosphere"/>атмосфера<br>
    <input type="checkbox" data-ng-model="state.constellations"/>все созвездия<br>
    <input type="checkbox" data-ng-model="state.currentConstellation"/>текущее созвездие<br>
    <input type="checkbox" data-ng-model="state.graticule"/>сетка<br>
    <input type="checkbox" data-ng-model="state.ecliptic"/>эклиптика<br>
    <input type="checkbox" data-ng-model="state.starNames"/>названия звёзд<br>
    <input type="checkbox" data-ng-model="state.sunTrajectory"/>траектория Солнца<br>
    Ускориться в
    <span
          data-ng-click="setVelocity(600)"
          data-ng-class="{'player__href': true,'player__href--active': state.velocity == 600 && state.play}">600</span>,<br>
    <span
          data-ng-click="setVelocity(3600)"
          data-ng-class="{'player__href': true,'player__href--active': state.velocity == 3600 && state.play}">3600</span>, или<br>
    <span
          data-ng-click="setVelocity(7200)"
          data-ng-class="{'player__href': true,'player__href--active': state.velocity == 7200 && state.play}">7200</span> раз. <br>
    <span data-ng-click="showStarsTails()"
          data-ng-class="{'player__href': true,'player__href--active': state.tails}">Показать хвосты</span>
    <span data-ng-click="changeViewDirection()"
          data-ng-class="{'player__href': true,'player__href--active': state.viewDirection == 'up'}">Посмотреть вверх</span>
</div>
