<div class="text-blocks garamond">
  <!--1-->
  <div
    class="text-blocks__block"
    data-ng-show="scenario.currentPage === 0">
    Звёзды на небосводе кажутся неподвижными.<br />
    Чтобы увидеть их движение,
    <div
      class="text-blocks__button"
      data-ng-click="scenario.currentPage = 1">ускорим время</div>.
  </div>
  <!--2-->
  <div
    class="text-blocks__block"
    data-ng-show="scenario.currentPage === 1">
    Земля, а вместе с ней и мы, вращается<br />
    вокруг своей оси в неподвижном космическом<br />
    пространстве. Звёзды проплывают мимо,<br />
    как пейзаж за бортом корабля.
    <div
      class="text-blocks__button next"
      data-ng-click="scenario.currentPage = 2">
      <img src="../img/accessories/next.png" />
    </div>
  </div>
  <!--3-->
  <div
    class="text-blocks__block"
    data-ng-show="scenario.currentPage === 2">
    Окружим Землю воображаемой небесной сферой,<br />
    на которую спроецируем все видимые звёзды.<br />
    Звезды Хезе и Поррима, расположенные непосредственно<br />
    над земным экватором, видны вблизи экватора<br />
    небесной сферы.
    <div
      class="text-blocks__button next"
      data-ng-click="scenario.currentPage = 3">
      <img src="../img/accessories/next.png" />
    </div>
  </div>
  <!--4-->
  <div
    class="text-blocks__block"
    data-ng-show="scenario.currentPage === 3">
    Полярная звезда, в окрестности которой указывает<br />
    земная ось, окажется в полюсе небесной сферы.<br />
    На небосводе она практически неподвижна.
    <div
      class="text-blocks__button next"
      data-ng-click="scenario.currentPage = 4">
      <img src="../img/accessories/next.png" />
    </div>
  </div>
  <!--5-->
  <div
    class="text-blocks__block"
    data-ng-show="scenario.currentPage === 4">
    Постепенно вращаясь, Земля поворачивает<br />
    наблюдателя к Солнцу &mdash; наступает утро.<br />
    С восходом солнца, звёзды исчезают с небосвода,<br />
    их затмевает ярко освещённая земная атмосфера.<br />
    Чтобы увидеть звёзды,
    <div
      class="text-blocks__button"
      data-ng-click="scenario.currentPage = 5">отключим атмосферу</div>.
  </div>
  <!--6-->
  <div
    class="text-blocks__block"
    data-ng-show="scenario.currentPage === 5">
    Солнце располагается в созвездии {{zodiacName.declension}}<br />
    и движется по небосводу вместе со звёздами.
    <div
      class="text-blocks__button next"
      data-ng-click="scenario.currentPage = 6">
      <img src="../img/accessories/next.png" />
    </div>
  </div>
  <!--7-->
  <div
    class="text-blocks__block"
    data-ng-show="scenario.currentPage === 6">
    В феврале Солнце находилось в Козероге,<br />
    в апреле окажется в Рыбах, в мае &mdash; в Овне и т.д.<br />
    Ход Солнца по созвездиям обусловлен годовым<br />
    вращением Земли и незаметен в масштабе суток.
    <div
      class="text-blocks__button next"
      data-ng-click="scenario.currentPage = 7">
      <img src="../img/accessories/next.png" />
    </div>
  </div>
  <!--8.1, 8.2 & 8.3-->
  <div
    class="text-blocks__block"
    data-ng-show="scenario.currentPage === 7 || scenario.currentPage === 8 || scenario.currentPage === 9">
    Перемещающийся вокруг Солнца наблюдатель,<br />
    видит его на небосводе на фоне разных созвездий<br />
    <span
      class="text-blocks__month-name"
      data-ng-click="scenario.currentPage = 7"
      data-ng-class="{'selected': scenario.currentPage === 7}">в апреле</span>,
    <span
      class="text-blocks__month-name"
      data-ng-click="scenario.currentPage = 8"
      data-ng-class="{'selected': scenario.currentPage === 8}">мае</span> и
    <span
      class="text-blocks__month-name"
      data-ng-click="scenario.currentPage = 9"
      data-ng-class="{'selected': scenario.currentPage === 9}">в марте</span>. При этом Солнце<br />
    и звёзды остаются неподвижными.
    <div
      class="text-blocks__button next"
      data-ng-click="scenario.currentPage = 10">
      <img src="../img/accessories/next.png" />
    </div>
  </div>
  <!--9-->
  <div
    class="text-blocks__block"
    data-ng-show="scenario.currentPage === 10">
    За год Солнце описывает по небесной сфере окружность,<br />
    называемую <span class="garamond-italic">эклиптикой</span>. Плоскость эклиптики<br />
    совпадает с плоскостью земной орбиты. Созвездия,<br />
    расположенные вдоль неё, известны нам, как знаки зодиака.
    <div
      class="text-blocks__button next"
      data-ng-click="scenario.currentPage = 11">
      <img src="../img/accessories/next.png" />
    </div>
  </div>
  <!--10-->
  <div
    class="text-blocks__block"
    data-ng-show="scenario.currentPage === 11">
    Наблюдайте небосвод над Москвой,<br />
    заполярное небо Мурманска, звёзды южного<br />
    полушария над Йоханесбургом и небосводы<br />
    других широт &mdash;
    <div
      class="text-blocks__button"
      data-ng-click="scenario.currentPage = 12">на интерактивной визуализации</div>.
  </div>
</div>
