<div class="text-blocks garamond">
  <!--1-->
  <div
    class="text-blocks__block"
    data-ng-show="scenario.currentPage === 0">
    Звёзды кажутся неподвижными.<br />
    Чтобы увидеть их движение<br />
    по небосводу,
    <div
      class="text-blocks__button"
      data-ng-click="scenario.currentPage = 1">ускорим время</div>.
  </div>
  <!--2-->
  <div
    class="text-blocks__block"
    data-ng-show="scenario.currentPage === 1">
    Наблюдаемое движение &mdash; результат того,<br />
    что Земля, а вместе с ней и мы, вращается<br />
    вокруг своей оси в неподвижном космическом<br />
    пространстве. Звёзды проплывают мимо,<br />
    как пейзаж за бортом корабля.
    <div
      class="text-blocks__button next"
      data-ng-click="scenario.currentPage = 2">
      <img src="../img/accessories/next.png" />
    </div>
  </div>
  <!--3-->
  <div
    class="text-blocks__block"
    data-ng-show="scenario.currentPage === 2">
    Окружим Землю воображаемой небесной сферой,<br />
    на которую спроецируем все видимые звёзды.<br />
    Звезда пффф, расположенная над земным экватором,<br />
    окажется на экваторе небесной сферы.
    <div
      class="text-blocks__button next"
      data-ng-click="scenario.currentPage = 3">
      <img src="../img/accessories/next.png" />
    </div>
  </div>
  <!--4-->
  <div
    class="text-blocks__block"
    data-ng-show="scenario.currentPage === 3">
    Полярная звезда, в окрестности которой указывает<br />
    земная ось, окажется в полюсе небесной сферы.<br />
    На небосводе она практически неподвижна.
    <div
      class="text-blocks__button next"
      data-ng-click="scenario.currentPage = 4">
      <img src="../img/accessories/next.png" />
    </div>
  </div>
  <!--5-->
  <div
    class="text-blocks__block"
    data-ng-show="scenario.currentPage === 4">
    Постепенно вращаясь, Земля поворачивает<br />
    наблюдателя к Солнцу &mdash; наступает утро.<br />
    С восходом солнца, звёзды исчезают с небосвода,<br />
    их затмевает ярко освещённая земная атмосфера.<br />
    Чтобы увидеть звёзды,
    <div
      class="text-blocks__button"
      data-ng-click="scenario.currentPage = 5">отключим атмосферу</div>.
  </div>
  <!--6-->
  <div
    class="text-blocks__block"
    data-ng-show="scenario.currentPage === 5">
    Солнце располагается в созвездии {{zodiacName.declension}}<br />
    и движется по небосводу вместе со звёздами.<br />
    Смещение Солнца относительно звёзд<br />
    незаметно в масштабе суток. Оно обусловлено<br />
    <div
      class="text-blocks__button standalone"
      data-ng-click="scenario.currentPage = 6">годовым вращением Земли</div>.
  </div>
  <!--7-->
  <div
    class="text-blocks__block"
    data-ng-show="scenario.currentPage === 6">
    Перемещающийся вокруг Солнца наблюдатель,<br />
    видит его на небосводе на фоне разных созвездий,<br />
    при этом Солнце и звёзды<br />
    неподвижны относительно друг друга.
    <div
      class="text-blocks__button next"
      data-ng-click="scenario.currentPage = 7">
      <img src="../img/accessories/next.png" />
    </div>
  </div>
  <!--8-->
  <div
    class="text-blocks__block"
    data-ng-show="scenario.currentPage === 7">
    В январе Солнце находилось в Козероге,<br />
    в июле &mdash; окажется в Близнецах,<br />
    в октябре &mdash; в Деве, в декабре — в Стрельце.
    <div
      class="text-blocks__button next"
      data-ng-click="scenario.currentPage = 8">
      <img src="../img/accessories/next.png" />
    </div>
  </div>
  <!--9-->
  <div
    class="text-blocks__block"
    data-ng-show="scenario.currentPage === 8">
    За год Солнце описывает по небесной сфере окружность,<br />
    называемую <span class="garamond-italic">эклиптикой</span>. Плоскость эклиптики<br />
    совпадает с плоскостью земной орбиты. Созвездия,<br />
    расположенные вдоль неё, известны нам, как знаки зодиака.
    <div
      class="text-blocks__button next"
      data-ng-click="scenario.currentPage = 9">
      <img src="../img/accessories/next.png" />
    </div>
  </div>
  <!--10-->
  <div
    class="text-blocks__block"
    data-ng-show="scenario.currentPage === 9">
    Небосвод зависит не только от времени года,<br />
    но и от положения наблюдателя.<br />
    Изучите заполярное небо Мурманска,<br />
    звёзды южного полушария над Йоханесбургом<br />
    и небосводы других широт<br />
    <div
      class="text-blocks__button standalone"
      data-ng-click="scenario.currentPage = 10">на интерактивной визуализации</div>.
  </div>
</div>
