<div class="text-blocks garamond">
  <!--1-->
  <div
    class="text-blocks__block"
    data-ng-show="scenario.currentPage === 0">
    Звёзды кажутся неподвижными.<br />
    Чтобы увидеть их движение<br />
    по небосводу,
    <div
      class="text-blocks__button"
      data-ng-click="scenario.currentPage = 1">ускорьте время</div>.
  </div>
  <!--2-->
  <div
    class="text-blocks__block"
    data-ng-show="scenario.currentPage === 1">
    Наблюдаемое движение &mdash; результат того,<br />
    что Земля, а вместе с ней и мы, вращается<br />
    вокруг своей оси в неподвижном космическом<br />
    пространстве. Звёзды проплывают мимо,<br />
    как пейзаж за бортом корабля.
    <div
      class="text-blocks__button next"
      data-ng-click="scenario.currentPage = 2">
      <img src="../img/accessories/next.png" />
    </div>
  </div>
  <!--3-->
  <div
    class="text-blocks__block"
    data-ng-show="scenario.currentPage === 2">
    Полярная звезда, в окрестности которой указывает<br />
    земная ось, практически неподвижна. Чем дальше звезда смещена<br />
    от полюса к экватору звёздной сферы, тем быстрее<br />
    она движется (Альтаир, Арктур и Вега). Звёзд, расположенных<br />
    над южным полушарием, в северном не видно.
    <div
      class="text-blocks__button next"
      data-ng-click="scenario.currentPage = 3">
      <img src="../img/accessories/next.png" />
    </div>
  </div>
  <!--4-->
  <div
    class="text-blocks__block"
    data-ng-show="scenario.currentPage === 3">
    Постепенно вращаясь, Земля поворачивает<br />
    наблюдателя к Солнцу &mdash; наступает утро.<br />
    С восходом солнца, звёзды исчезают с небосвода,<br />
    их затмевает ярко освещённая земная атмосфера.<br />
    Чтобы увидеть звёзды,
    <div
      class="text-blocks__button"
      data-ng-click="scenario.currentPage = 4">отключите атмосферу</div>.
  </div>
  <!--5-->
  <div
    class="text-blocks__block"
    data-ng-show="scenario.currentPage === 4">
    Солнце движется по небосводу<br />
    вместе со звёздами. Сейчас оно<br />
    располагается в созвездии {{zodiacName.declension}},<br />
    а в {{state.currentDate.getMonth() ? 'январе' : 'феврале'}}&nbsp;&mdash;&nbsp;
    {{state.currentDate.getMonth() ? 'находилось' : 'будет находиться'}}&nbsp;в&nbsp;
    {{state.currentDate.getMonth() ? 'Козероге' : 'Водолее'}}.
    <div
      class="text-blocks__button next"
      data-ng-click="scenario.currentPage = 5">
      <img src="../img/accessories/next.png" />
    </div>
  </div>
  <!--6-->
  <div
    class="text-blocks__block"
    data-ng-show="scenario.currentPage === 5">
    Это движение обусловлено годовым вращением<br />
    Земли вокруг Солнца. Перемещающийся вокруг<br />
    Солнца наблюдатель видит его на фоне разных<br />
    звёзд, при этом Солнце и звёзды неподвижны.
    <div
      class="text-blocks__button next"
      data-ng-click="scenario.currentPage = 6">
      <img src="../img/accessories/next.png" />
    </div>
  </div>
  <!--7-->
  <div
    class="text-blocks__block"
    data-ng-show="scenario.currentPage === 6">
    Движение Солнца относительно звёзд<br />
    незаметно в течение суток. Оно медленно<br />
    перемещается из созвездия в созвездие,<br />
    описывая за год полный круг по небосводу.<br />
    <div
      class="text-blocks__button standalone"
      data-ng-click="scenario.currentPage = 7">Турбо-ускорение времени</div>.
  </div>
  <!--8-->
  <div
    class="text-blocks__block"
    data-ng-show="scenario.currentPage === 7">
    Траектория движения солнца по звёздной<br />
    сфере называется <span class="garamond-italic">эклиптикой</span>. Вдоль эклиптики<br />
    располагаются зодиакальные созвездия,<br />
    известные нам, как знаки зодиака.
    <div
      class="text-blocks__button next"
      data-ng-click="scenario.currentPage = 8">
      <img src="../img/accessories/next.png" />
    </div>
  </div>
  <!--9-->
  <div
    class="text-blocks__block"
    data-ng-show="scenario.currentPage === 8">
    В разных широтах на небосводе видны<br />
    разные звёзды, но хотя бы одно зодиакальное<br />
    созвездие видно отовсюду, кроме заполярных<br />
    широт зимой. Убедитесь в этом, взглянув<br />
    <div
      class="text-blocks__button standalone"
      data-ng-click="scenario.currentPage = 9">на небосвод над Мурманском</div>.
  </div>
</div>
