<div class="velocity-selector">
  <div class="velocity-selector__caption garamond-italic inline">Ускорение&nbsp;в&nbsp;</div>
  <div
    class="velocity-selector__button inline"
    data-ng-class="{'active': state.velocity === 600}"
    data-ng-click="state.velocity === 600 ? state.velocity = 1 : state.velocity = 600">
    <span class="tooltip helvetica-neue">10 минут за секунду</span>
    <span class="value garamond-italic">600</span>
  </div>
  <div class="velocity-selector__caption garamond-italic inline">&nbsp;или&nbsp;в&nbsp;</div>
  <div
    class="velocity-selector__button inline"
    data-ng-class="{'active': state.velocity === 60000}"
    data-ng-click="state.velocity === 60000 ? state.velocity = 1 : state.velocity = 60000">
    <span class="tooltip helvetica-neue">16 часов за секунду</span>
    <span class="value garamond-italic">60000</span>
  </div>
  <div class="velocity-selector__caption garamond-italic inline">&nbsp;раз</div>
  <br class="clear-both" />
</div>
