.earth-orbit__container {
    width: 400px;
    height: 200px;
    position: absolute;
    top: 0;
    right: 0;
}

.earth-orbit__orbit {
    fill: none;
    stroke: #610E7A;
    stroke-dasharray: 5;
}
