.globe__container {
    width: 210px;
    height: 210px;
    position: absolute;
    top: 0;
    left: 0;
}

.globe-graticule {
    stroke: #084654;
    stroke-width: 0.4;
    fill: none;
}
.globe-city {
    fill: #29E6E6;
}

.globe-names {
    fill: #fff;
    alignment-baseline: middle;
    font-style: italic;
}
.globe-names:hover {
    fill: #29E6E6;
}

.globe-city--active circle {
    fill: #fff;
}
.globe-city--active text {
    font-style: normal;
}

