.globe__circle-of-longitude, .globe__circle-of-latitude {
  pointer-events: none;

  stroke: rgba(0, 255, 255, 0.3);
  stroke-width: 0.5;
  fill: none;
}

.globe__equator {
  pointer-events: none;

  stroke: #0ff;
  stroke-width: 0.5;
  fill: none;
}

.globe__circle-back {
  stroke: rgba(0, 255, 255, 0.3);
  fill: rgba(0, 0, 0, 0);
  stroke-width: 0.5;
}

.globe__city {
  cursor: pointer;
}

.globe__city-circle {
  fill: #0ff;
}

.globe__city-name {
  user-select: none;

  font-family: 'OriginalGaramondBTWebItalic';
  font-size: 16px;

  fill: #fff;
  dominant-baseline: central;
  text-anchor: start;
}

.globe__city:hover .globe__city-name {
  fill: #0ff;
}

.globe__city.active .globe__city-name {
  font-family: 'OriginalGaramondBTWebBold';
}

.globe__city.active .globe__city-circle {
  fill: #fff;
}
