.page-indicator__pages-wrapper {
  position: relative;
  left: 50%;

  display: inline-block;

  transform: translateX(-50%);
}

.page-indicator__page {
  display: inline-block;

  padding: 5px 7px;

  cursor: pointer;
}

.page-indicator__circle {
  width: 6px;
  height: 6px;

  transition: background-color 0.25s ease-out;

  border-radius: 50%;
  background-color: rgba(0, 255, 255, 0.2);
}

.page-indicator__circle.active {
  background-color: #0ff;
}
